# CO2 Emissions All Sectors - Annual

In [70]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from tqdm import tqdm_notebook
from datetime import datetime
from pprint import pprint

# Import API key
from config import api_key

# Data Fetch - Residental

In [71]:
url = "http://api.eia.gov/series/?api_key="
api_code1 = "&series_id=TOTAL."
#api_energy_source = "TERCBUS"
api_period = ".A" 

energy_source_res = [
    "Coal",
    "Distillate Fuel Oil",
    "HGL",
    "Kerosene",
    "Natural Gas",
    "Petroleum",
    "Residential",
    "Total Energy",
]

energy_source_code_res = [
    "CLRCEUS",
    "DFRCEUS",
    "HLRCEUS",
    "KSRCEUS",
    "NNRCEUS",
    "PARCEUS",
    "ESRCEUS",
    "TERCEUS"
]

energy_source_res_df = pd.DataFrame({
    "code": energy_source_code_res,  
    "source": energy_source_res
})
energy_source_res_df

      code               source
0  CLRCEUS                 Coal
1  DFRCEUS  Distillate Fuel Oil
2  HLRCEUS                  HGL
3  KSRCEUS             Kerosene
4  NNRCEUS          Natural Gas
5  PARCEUS            Petroleum
6  ESRCEUS          Residential
7  TERCEUS         Total Energy

In [72]:
name = []
sector = []
sec = "Residental"
code = []
source = []
series_id = []
units = []
year = []
value = []
count_st = 0


for energy in energy_source_res_df["code"]:
    query_url = url + api_key + api_code1 + energy + api_period
    co2_emission_res_json = requests.get(query_url).json()

    print("Processing " + energy)
    
    data = []
    data.append(co2_emission_res_json["series"][0]["data"])
    ln = (len(data[0]))

    for i in range(0, ln):

        name.append(co2_emission_res_json["series"][0]["name"])
        code.append(co2_emission_res_json["series"][0]["series_id"].split(".")[1])
        source.append("")
        sector.append(sec)
        series_id.append(co2_emission_res_json["series"][0]["series_id"])
        units.append(co2_emission_res_json["series"][0]["units"])
        year.append(co2_emission_res_json["series"][0]["data"][i][0])
        value.append(co2_emission_res_json["series"][0]["data"][i][1])

print("-----------------------------")
print("Data Retrieval Complete")      
print("-----------------------------")

Processing CLRCEUS
Processing DFRCEUS
Processing HLRCEUS
Processing KSRCEUS
Processing NNRCEUS
Processing PARCEUS
Processing ESRCEUS
Processing TERCEUS
-----------------------------
Data Retrieval Complete
-----------------------------

In [73]:
#Create DataFrame
co2_emissions_res_df = pd.DataFrame({
    "name": name,
    "code": code,
    #"source": source,
    "sector": sector,
    "series_id": series_id,
    "units": units,
    "year": year,
    "value": value    
})
co2_emissions_res_df

,name,code,sector,series_id,units,year,value
0,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2018,NA
1,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2017,NA
2,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2016,NA
3,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2015,NA
4,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2014,NA
5,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2013,NA
6,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2012,NA
7,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2011,NA
8,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2010,NA
9,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2009,NA
10,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2008,NA
11,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2007,0.74
12,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2006,0.618
13,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2005,0.807
14,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2004,1.086
15,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2003,1.169
16,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2002,1.167
17,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2001,1.141
18,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2000,1.083
19,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1999,1.332
20,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1998,1.104
21,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1997,1.519
22,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1996,1.583
23,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1995,1.672
24,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1994,1.995
25,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1993,2.47
26,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1992,2.476
27,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1991,2.443
28,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1990,2.989
29,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1989,2.913
...,...,...,...,...,...,...,...
338,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,2002,1202.56
339,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,2001,1171.45
340,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,2000,1185.03
341,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1999,1121.58
342,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1998,1097.4
343,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1997,1089.78
344,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1996,1099.08
345,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1995,1039.04
346,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1994,1032.22
347,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1993,1039.3
348,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1992,981.421
349,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1991,980.095
350,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1990,963.149
351,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1989,1005.13
352,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1988,982.372
353,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1987,934.221
354,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1986,904.915
355,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1985,908.647
356,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1984,902.12
357,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1983,866.888
358,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1982,872.63
359,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1981,878.414
360,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1980,911.355
361,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1979,918.004
362,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1978,938.386
363,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1977,934.507
364,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1976,912.634
365,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1975,867.233
366,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1974,873.107
367,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1973,906.93

In [74]:
co2_emissions_res_df = pd.merge(co2_emissions_res_df, energy_source_res_df, how='inner', on="code") 
co2_emissions_res_df

,name,code,sector,series_id,units,year,value,source
0,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2018,NA,Coal
1,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2017,NA,Coal
2,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2016,NA,Coal
3,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2015,NA,Coal
4,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2014,NA,Coal
5,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2013,NA,Coal
6,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2012,NA,Coal
7,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2011,NA,Coal
8,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2010,NA,Coal
9,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2009,NA,Coal
10,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2008,NA,Coal
11,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2007,0.74,Coal
12,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2006,0.618,Coal
13,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2005,0.807,Coal
14,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2004,1.086,Coal
15,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2003,1.169,Coal
16,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2002,1.167,Coal
17,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2001,1.141,Coal
18,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,2000,1.083,Coal
19,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1999,1.332,Coal
20,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1998,1.104,Coal
21,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1997,1.519,Coal
22,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1996,1.583,Coal
23,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1995,1.672,Coal
24,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1994,1.995,Coal
25,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1993,2.47,Coal
26,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1992,2.476,Coal
27,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1991,2.443,Coal
28,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1990,2.989,Coal
29,"Coal Residential Sector CO2 Emissions, Annual",CLRCEUS,Residental,TOTAL.CLRCEUS.A,Million Metric Tons of Carbon Dioxide,1989,2.913,Coal
...,...,...,...,...,...,...,...,...
338,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,2002,1202.56,Total Energy
339,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,2001,1171.45,Total Energy
340,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,2000,1185.03,Total Energy
341,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1999,1121.58,Total Energy
342,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1998,1097.4,Total Energy
343,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1997,1089.78,Total Energy
344,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1996,1099.08,Total Energy
345,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1995,1039.04,Total Energy
346,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1994,1032.22,Total Energy
347,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1993,1039.3,Total Energy
348,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1992,981.421,Total Energy
349,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1991,980.095,Total Energy
350,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1990,963.149,Total Energy
351,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1989,1005.13,Total Energy
352,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1988,982.372,Total Energy
353,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1987,934.221,Total Energy
354,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1986,904.915,Total Energy
355,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1985,908.647,Total Energy
356,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1984,902.12,Total Energy
357,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1983,866.888,Total Energy
358,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1982,872.63,Total Energy
359,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1981,878.414,Total Energy
360,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1980,911.355,Total Energy
361,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1979,918.004,Total Energy
362,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1978,938.386,Total Energy
363,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1977,934.507,Total Energy
364,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1976,912.634,Total Energy
365,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1975,867.233,Total Energy
366,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1974,873.107,Total Energy
367,"Total Energy Residential Sector CO2 Emissions,...",TERCEUS,Residental,TOTAL.TERCEUS.A,Million Metric Tons of Carbon Dioxide,1973,906.93,Total Energy

# Data Fetch - Commercial

In [75]:
energy_source_com = [
    "Coal",
    "Distillate Fuel Oil",
    "Electric Power",    
    "HGL",
    "Kerosene",
    "Motor Gasoline",
    "Natural Gas",
    "Petroleum Coke",
    "Petroleum",
    "Residual Fuel",
    "Total Energy"
]

energy_source_code_com =        ["CLCCEUS","DFCCEUS","ESCCEUS","HLCCEUS","KSCCEUS",
         "MMCCEUS","NNCCEUS","PCCCEUS","PMCCEUS","RFCCEUS", "TECCEUS"
         ]

energy_source_com_df = pd.DataFrame({
    "code": energy_source_code_com,  
    "source": energy_source_com
})
energy_source_com_df

name = []
sector = []
sec = "Commercial"
code = []
source = []
series_id = []
units = []
year = []
value = []
count_st = 0


for energy in energy_source_com_df["code"]:
    query_url = url + api_key + api_code1 + energy + api_period
    co2_emission_com_json = requests.get(query_url).json()

    print("Processing Commercial " + energy)
    
    data = []
    data.append(co2_emission_com_json["series"][0]["data"])
    ln = (len(data[0]))

    for i in range(0, ln):

        name.append(co2_emission_com_json["series"][0]["name"])
        code.append(co2_emission_com_json["series"][0]["series_id"].split(".")[1])
        source.append("")
        sector.append(sec)
        series_id.append(co2_emission_com_json["series"][0]["series_id"])
        units.append(co2_emission_com_json["series"][0]["units"])
        year.append(co2_emission_com_json["series"][0]["data"][i][0])
        value.append(co2_emission_com_json["series"][0]["data"][i][1])

print("-----------------------------")
print("Data Retrieval Complete")      
print("-----------------------------")

Processing Commercial CLCCEUS
Processing Commercial DFCCEUS
Processing Commercial ESCCEUS
Processing Commercial HLCCEUS
Processing Commercial KSCCEUS
Processing Commercial MMCCEUS
Processing Commercial NNCCEUS
Processing Commercial PCCCEUS
Processing Commercial PMCCEUS
Processing Commercial RFCCEUS
Processing Commercial TECCEUS
-----------------------------
Data Retrieval Complete
-----------------------------

In [76]:
#Create DataFrame
co2_emissions_com_df = pd.DataFrame({
    "name": name,
    "code": code,
    #"source": source,
    "sector": sector,
    "series_id": series_id,
    "units": units,
    "year": year,
    "value": value    
})
co2_emissions_com_df


co2_emissions_com_df = pd.merge(co2_emissions_com_df, energy_source_com_df, how='inner', on="code") 
co2_emissions_com_df

,name,code,sector,series_id,units,year,value,source
0,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2018,1.758,Coal
1,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2017,1.948,Coal
2,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2016,2.239,Coal
3,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2015,2.934,Coal
4,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2014,3.791,Coal
5,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2013,3.906,Coal
6,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2012,4.106,Coal
7,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2011,5.819,Coal
8,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2010,6.567,Coal
9,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2009,6.916,Coal
10,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2008,7.614,Coal
11,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2007,6.66,Coal
12,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2006,6.245,Coal
13,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2005,9.28,Coal
14,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2004,9.777,Coal
15,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2003,7.826,Coal
16,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2002,8.555,Coal
17,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2001,9.234,Coal
18,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,2000,8.764,Coal
19,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1999,9.765,Coal
20,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1998,8.93,Coal
21,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1997,12.287,Coal
22,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1996,11.61,Coal
23,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1995,11.191,Coal
24,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1994,11.303,Coal
25,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1993,11.254,Coal
26,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1992,11.28,Coal
27,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1991,11.127,Coal
28,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1990,11.955,Coal
29,"Coal Commercial Sector CO2 Emissions, Annual",CLCCEUS,Commercial,TOTAL.CLCCEUS.A,Million Metric Tons of Carbon Dioxide,1989,10.96,Coal
...,...,...,...,...,...,...,...,...
476,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,2002,1026.25,Total Energy
477,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,2001,1027.22,Total Energy
478,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,2000,1021.96,Total Energy
479,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1999,960.318,Total Energy
480,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1998,946.778,Total Energy
481,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1997,926.014,Total Energy
482,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1996,882.595,Total Energy
483,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1995,851.318,Total Energy
484,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1994,833.424,Total Energy
485,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1993,819.256,Total Energy
486,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1992,795.862,Total Energy
487,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1991,794.281,Total Energy
488,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1990,792.507,Total Energy
489,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1989,794.225,Total Energy
490,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1988,772.479,Total Energy
491,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1987,735.588,Total Energy
492,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1986,710.708,Total Energy
493,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1985,704.496,Total Energy
494,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1984,704.402,Total Energy
495,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1983,671.305,Total Energy
496,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1982,664.534,Total Energy
497,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1981,662.656,Total Energy
498,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1980,661.853,Total Energy
499,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1979,661.268,Total Energy
500,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1978,647.591,Total Energy
501,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1977,645.02,Total Energy
502,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1976,627.481,Total Energy
503,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1975,582.863,Total Energy
504,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1974,586.73,Total Energy
505,"Total Energy Commercial Sector CO2 Emissions, ...",TECCEUS,Commercial,TOTAL.TECCEUS.A,Million Metric Tons of Carbon Dioxide,1973,609.253,Total Energy

#  Data Fetch - Industrial

In [77]:
energy_source_ind = [
    "Coal",
    "Distillate Fuel Oil",
    "HGL",
    "Kerosene",
    "Lubricants",
    "Motor Gasoline",
    "Natural Gas", 
    "Other",
    "Petroleum Coke",
    "Petroleum",
    "Residual Fuel",
    "Total Energy"
]

energy_source_code_ind = ["CLICEUS", "DFICEUS", "HLICEUS", "KSICEUS", 
                            "LUICEUS", "MMICEUS", "NNICEUS", "OPICEUS",
                            "PCICEUS", "PMICEUS", "RFICEUS", "TEICEUS"]

energy_source_ind_df = pd.DataFrame({
    "code": energy_source_code_ind,  
    "source": energy_source_ind
})
energy_source_ind_df

name = []
sector = []
sec = "Industrial"
code = []
source = []
series_id = []
units = []
year = []
value = []
count_st = 0


for energy in energy_source_ind_df["code"]:
    query_url = url + api_key + api_code1 + energy + api_period
    co2_emission_ind_json = requests.get(query_url).json()

    print("Processing Commercial" + energy)
    
    data = []
    data.append(co2_emission_ind_json["series"][0]["data"])
    ln = (len(data[0]))

    for i in range(0, ln):

        name.append(co2_emission_ind_json["series"][0]["name"])
        code.append(co2_emission_ind_json["series"][0]["series_id"].split(".")[1])
        source.append("")
        sector.append(sec)
        series_id.append(co2_emission_ind_json["series"][0]["series_id"])
        units.append(co2_emission_ind_json["series"][0]["units"])
        year.append(co2_emission_ind_json["series"][0]["data"][i][0])
        value.append(co2_emission_ind_json["series"][0]["data"][i][1])

print("-----------------------------")
print("Data Retrieval Complete")      
print("-----------------------------")

Processing CommercialCLICEUS
Processing CommercialDFICEUS
Processing CommercialHLICEUS
Processing CommercialKSICEUS
Processing CommercialLUICEUS
Processing CommercialMMICEUS
Processing CommercialNNICEUS
Processing CommercialOPICEUS
Processing CommercialPCICEUS
Processing CommercialPMICEUS
Processing CommercialRFICEUS
Processing CommercialTEICEUS
-----------------------------
Data Retrieval Complete
-----------------------------

In [78]:
#Create DataFrame
co2_emissions_ind_df = pd.DataFrame({
    "name": name,
    "code": code,
    #"source": source,
    "sector": sector,
    "series_id": series_id,
    "units": units,
    "year": year,
    "value": value    
})
co2_emissions_ind_df

,name,code,sector,series_id,units,year,value
0,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2018,109.967
1,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2017,111.616
2,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2016,112.702
3,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2015,128.941
4,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2014,143.075
5,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2013,144.563
6,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2012,141.470
7,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2011,145.983
8,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2010,152.679
9,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2009,130.545
10,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2008,167.916
11,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2007,174.632
12,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2006,179.401
13,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2005,182.933
14,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2004,190.499
15,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2003,189.905
16,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2002,188.016
17,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2001,204.479
18,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2000,210.821
19,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1999,208.294
20,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1998,218.572
21,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1997,223.783
22,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1996,227.276
23,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1995,232.538
24,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1994,234.503
25,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1993,233.077
26,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1992,234.648
27,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1991,244.403
28,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1990,258.353
29,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1989,259.120
...,...,...,...,...,...,...,...
522,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,2002,1684.107
523,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,2001,1711.567
524,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,2000,1787.059
525,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1999,1779.826
526,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1998,1810.970
527,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1997,1823.633
528,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1996,1804.202
529,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1995,1752.396
530,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1994,1748.167
531,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1993,1717.847
532,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1992,1720.721
533,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1991,1650.595
534,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1990,1695.032
535,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1989,1675.698
536,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1988,1647.770
537,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1987,1568.088
538,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1986,1510.808
539,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1985,1558.170
540,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1984,1603.901
541,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1983,1473.308
542,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1982,1501.657
543,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1981,1698.761
544,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1980,1776.497
545,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1979,1911.103
546,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1978,1829.944
547,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1977,1844.130
548,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1976,1794.960
549,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1975,1679.773
550,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1974,1814.907
551,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1973,1883.960

In [79]:
co2_emissions_ind_df = pd.merge(co2_emissions_ind_df, energy_source_ind_df, how='inner', on="code") 
co2_emissions_ind_df

,name,code,sector,series_id,units,year,value,source
0,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2018,109.967,Coal
1,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2017,111.616,Coal
2,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2016,112.702,Coal
3,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2015,128.941,Coal
4,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2014,143.075,Coal
5,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2013,144.563,Coal
6,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2012,141.470,Coal
7,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2011,145.983,Coal
8,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2010,152.679,Coal
9,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2009,130.545,Coal
10,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2008,167.916,Coal
11,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2007,174.632,Coal
12,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2006,179.401,Coal
13,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2005,182.933,Coal
14,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2004,190.499,Coal
15,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2003,189.905,Coal
16,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2002,188.016,Coal
17,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2001,204.479,Coal
18,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2000,210.821,Coal
19,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1999,208.294,Coal
20,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1998,218.572,Coal
21,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1997,223.783,Coal
22,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1996,227.276,Coal
23,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1995,232.538,Coal
24,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1994,234.503,Coal
25,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1993,233.077,Coal
26,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1992,234.648,Coal
27,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1991,244.403,Coal
28,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1990,258.353,Coal
29,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1989,259.120,Coal
...,...,...,...,...,...,...,...,...
522,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,2002,1684.107,Total Energy
523,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,2001,1711.567,Total Energy
524,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,2000,1787.059,Total Energy
525,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1999,1779.826,Total Energy
526,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1998,1810.970,Total Energy
527,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1997,1823.633,Total Energy
528,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1996,1804.202,Total Energy
529,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1995,1752.396,Total Energy
530,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1994,1748.167,Total Energy
531,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1993,1717.847,Total Energy
532,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1992,1720.721,Total Energy
533,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1991,1650.595,Total Energy
534,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1990,1695.032,Total Energy
535,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1989,1675.698,Total Energy
536,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1988,1647.770,Total Energy
537,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1987,1568.088,Total Energy
538,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1986,1510.808,Total Energy
539,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1985,1558.170,Total Energy
540,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1984,1603.901,Total Energy
541,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1983,1473.308,Total Energy
542,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1982,1501.657,Total Energy
543,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1981,1698.761,Total Energy
544,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1980,1776.497,Total Energy
545,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1979,1911.103,Total Energy
546,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1978,1829.944,Total Energy
547,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1977,1844.130,Total Energy
548,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1976,1794.960,Total Energy
549,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1975,1679.773,Total Energy
550,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1974,1814.907,Total Energy
551,"Total Industrial Sector CO2 Emissions, Annual",TEICEUS,Industrial,TOTAL.TEICEUS.A,Million Metric Tons of Carbon Dioxide,1973,1883.960,Total Energy

# Data Fetch - Transportation

In [80]:
energy_source_trn= [
    "Aviation Gasoline",
    "Coal",
    "Distillate Fuel Oil",
    "Transportation",
    "HGL",
    "Jet Fuel",
    "Lubricants", 
    "Motor Gasoline",
    "Natural Gas",
    "Petroleum",
    "Residual Fuel",
    "Total Energy"
]

energy_source_code_trn = ["AVACEUS","CLACEUS","DMACEUS","ESACEUS","HLACEUS",
                         "JFACEUS","LUACEUS","MMACEUS","NGACEUS","PMACEUS",
                          "RFACEUS", "TEACEUS"]

energy_source_trn_df = pd.DataFrame({
    "code": energy_source_code_trn,  
    "source": energy_source_trn
})
energy_source_trn_df

name = []
sector = []
sec = "Transportation"
code = []
source = []
series_id = []
units = []
year = []
value = []
count_st = 0


for energy in energy_source_trn_df["code"]:
    query_url = url + api_key + api_code1 + energy + api_period
    co2_emission_trn_json = requests.get(query_url).json()

    print("Processing Transportation" + energy)
    
    data = []
    data.append(co2_emission_trn_json["series"][0]["data"])
    ln = (len(data[0]))

    for i in range(0, ln):

        name.append(co2_emission_trn_json["series"][0]["name"])
        code.append(co2_emission_trn_json["series"][0]["series_id"].split(".")[1])
        source.append("")
        sector.append(sec)
        series_id.append(co2_emission_trn_json["series"][0]["series_id"])
        units.append(co2_emission_trn_json["series"][0]["units"])
        year.append(co2_emission_trn_json["series"][0]["data"][i][0])
        value.append(co2_emission_trn_json["series"][0]["data"][i][1])

print("-----------------------------")
print("Data Retrieval Complete")      
print("-----------------------------")

Processing TransportationAVACEUS
Processing TransportationCLACEUS
Processing TransportationDMACEUS
Processing TransportationESACEUS
Processing TransportationHLACEUS
Processing TransportationJFACEUS
Processing TransportationLUACEUS
Processing TransportationMMACEUS
Processing TransportationNGACEUS
Processing TransportationPMACEUS
Processing TransportationRFACEUS
Processing TransportationTEACEUS
-----------------------------
Data Retrieval Complete
-----------------------------

In [81]:
#Create DataFrame
co2_emissions_trn_df = pd.DataFrame({
    "name": name,
    "code": code,
    #"source": source,
    "sector": sector,
    "series_id": series_id,
    "units": units,
    "year": year,
    "value": value    
})
co2_emissions_trn_df

,name,code,sector,series_id,units,year,value
0,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2018,1.549
1,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2017,1.449
2,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2016,1.416
3,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2015,1.463
4,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2014,1.501
5,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2013,1.547
6,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2012,1.738
7,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2011,1.872
8,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2010,1.871
9,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2009,1.838
10,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2008,1.957
11,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2007,2.186
12,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2006,2.314
13,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2005,2.447
14,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2004,2.162
15,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2003,2.091
16,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2002,2.334
17,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2001,2.417
18,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2000,2.511
19,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1999,2.710
20,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1998,2.456
21,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1997,2.747
22,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1996,2.585
23,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1995,2.739
24,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1994,2.639
25,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1993,2.657
26,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1992,2.841
27,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1991,2.887
28,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1990,3.112
29,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1989,3.293
...,...,...,...,...,...,...,...
522,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2002,1889.777
523,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2001,1849.142
524,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2000,1869.703
525,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1999,1825.647
526,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1998,1779.448
527,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1997,1742.183
528,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1996,1723.805
529,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1995,1678.541
530,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1994,1644.104
531,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1993,1604.249
532,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1992,1591.635
533,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1991,1567.946
534,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1990,1587.617
535,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1989,1591.265
536,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1988,1578.962
537,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1987,1519.000
538,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1986,1472.058
539,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1985,1421.236
540,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1984,1389.930
541,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1983,1359.372
542,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1982,1353.979
543,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1981,1385.446
544,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1980,1400.160
545,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1979,1454.150
546,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1978,1463.535
547,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1977,1406.395
548,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1976,1353.751
549,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1975,1291.565
550,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1974,1281.101
551,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1973,1315.199

In [82]:
co2_emissions_trn_df = pd.merge(co2_emissions_trn_df, energy_source_trn_df, how='inner', on="code") 
co2_emissions_trn_df

,name,code,sector,series_id,units,year,value,source
0,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2018,1.549,Aviation Gasoline
1,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2017,1.449,Aviation Gasoline
2,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2016,1.416,Aviation Gasoline
3,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2015,1.463,Aviation Gasoline
4,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2014,1.501,Aviation Gasoline
5,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2013,1.547,Aviation Gasoline
6,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2012,1.738,Aviation Gasoline
7,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2011,1.872,Aviation Gasoline
8,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2010,1.871,Aviation Gasoline
9,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2009,1.838,Aviation Gasoline
10,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2008,1.957,Aviation Gasoline
11,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2007,2.186,Aviation Gasoline
12,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2006,2.314,Aviation Gasoline
13,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2005,2.447,Aviation Gasoline
14,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2004,2.162,Aviation Gasoline
15,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2003,2.091,Aviation Gasoline
16,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2002,2.334,Aviation Gasoline
17,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2001,2.417,Aviation Gasoline
18,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,2000,2.511,Aviation Gasoline
19,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1999,2.710,Aviation Gasoline
20,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1998,2.456,Aviation Gasoline
21,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1997,2.747,Aviation Gasoline
22,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1996,2.585,Aviation Gasoline
23,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1995,2.739,Aviation Gasoline
24,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1994,2.639,Aviation Gasoline
25,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1993,2.657,Aviation Gasoline
26,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1992,2.841,Aviation Gasoline
27,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1991,2.887,Aviation Gasoline
28,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1990,3.112,Aviation Gasoline
29,Aviation Gasoline Transportation Sector CO2 Em...,AVACEUS,Transportation,TOTAL.AVACEUS.A,Million Metric Tons of Carbon Dioxide,1989,3.293,Aviation Gasoline
...,...,...,...,...,...,...,...,...
522,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2002,1889.777,Total Energy
523,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2001,1849.142,Total Energy
524,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2000,1869.703,Total Energy
525,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1999,1825.647,Total Energy
526,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1998,1779.448,Total Energy
527,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1997,1742.183,Total Energy
528,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1996,1723.805,Total Energy
529,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1995,1678.541,Total Energy
530,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1994,1644.104,Total Energy
531,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1993,1604.249,Total Energy
532,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1992,1591.635,Total Energy
533,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1991,1567.946,Total Energy
534,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1990,1587.617,Total Energy
535,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1989,1591.265,Total Energy
536,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1988,1578.962,Total Energy
537,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1987,1519.000,Total Energy
538,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1986,1472.058,Total Energy
539,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1985,1421.236,Total Energy
540,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1984,1389.930,Total Energy
541,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1983,1359.372,Total Energy
542,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1982,1353.979,Total Energy
543,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1981,1385.446,Total Energy
544,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1980,1400.160,Total Energy
545,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1979,1454.150,Total Energy
546,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1978,1463.535,Total Energy
547,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1977,1406.395,Total Energy
548,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1976,1353.751,Total Energy
549,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1975,1291.565,Total Energy
550,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1974,1281.101,Total Energy
551,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1973,1315.199,Total Energy

In [83]:
co2_emissions_df = co2_emissions_ind_df.append([co2_emissions_com_df, 
                                                co2_emissions_res_df,
                                               co2_emissions_trn_df],sort=False)
co2_emissions_df

,name,code,sector,series_id,units,year,value,source
0,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2018,109.967,Coal
1,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2017,111.616,Coal
2,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2016,112.702,Coal
3,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2015,128.941,Coal
4,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2014,143.075,Coal
5,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2013,144.563,Coal
6,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2012,141.47,Coal
7,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2011,145.983,Coal
8,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2010,152.679,Coal
9,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2009,130.545,Coal
10,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2008,167.916,Coal
11,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2007,174.632,Coal
12,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2006,179.401,Coal
13,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2005,182.933,Coal
14,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2004,190.499,Coal
15,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2003,189.905,Coal
16,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2002,188.016,Coal
17,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2001,204.479,Coal
18,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,2000,210.821,Coal
19,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1999,208.294,Coal
20,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1998,218.572,Coal
21,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1997,223.783,Coal
22,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1996,227.276,Coal
23,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1995,232.538,Coal
24,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1994,234.503,Coal
25,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1993,233.077,Coal
26,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1992,234.648,Coal
27,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1991,244.403,Coal
28,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1990,258.353,Coal
29,"Coal Industrial Sector CO2 Emissions, Annual",CLICEUS,Industrial,TOTAL.CLICEUS.A,Million Metric Tons of Carbon Dioxide,1989,259.12,Coal
...,...,...,...,...,...,...,...,...
522,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2002,1889.78,Total Energy
523,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2001,1849.14,Total Energy
524,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,2000,1869.7,Total Energy
525,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1999,1825.65,Total Energy
526,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1998,1779.45,Total Energy
527,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1997,1742.18,Total Energy
528,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1996,1723.81,Total Energy
529,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1995,1678.54,Total Energy
530,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1994,1644.1,Total Energy
531,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1993,1604.25,Total Energy
532,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1992,1591.63,Total Energy
533,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1991,1567.95,Total Energy
534,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1990,1587.62,Total Energy
535,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1989,1591.27,Total Energy
536,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1988,1578.96,Total Energy
537,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1987,1519,Total Energy
538,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1986,1472.06,Total Energy
539,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1985,1421.24,Total Energy
540,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1984,1389.93,Total Energy
541,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1983,1359.37,Total Energy
542,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1982,1353.98,Total Energy
543,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1981,1385.45,Total Energy
544,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1980,1400.16,Total Energy
545,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1979,1454.15,Total Energy
546,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1978,1463.54,Total Energy
547,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1977,1406.39,Total Energy
548,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1976,1353.75,Total Energy
549,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1975,1291.57,Total Energy
550,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1974,1281.1,Total Energy
551,Total Energy Transportation Sector CO2 Emissio...,TEACEUS,Transportation,TOTAL.TEACEUS.A,Million Metric Tons of Carbon Dioxide,1973,1315.2,Total Energy

In [84]:
co2_emissions_df.loc[co2_emissions_df["value"] == 'NA', ["value"] ] = np.NaN
co2_emissions_df["year"] = pd.to_numeric(co2_emissions_df["year"])
co2_emissions_df["value"] = co2_emissions_df["value"].astype(float)
# co2_emissions_df = pd.merge(co2_emissions_df, energy_source_df, on="code")

# co2_emissions_df = pd.merge(co2_emissions_df, energy_source_df, how='inner', on="code") 
#                             left_on="code", right_on="code")

co2_emissions_df.dtypes

name          object
code          object
sector        object
series_id     object
units         object
year           int64
value        float64
source        object
dtype: object

In [85]:
co2_emissions_df.to_csv("CO2EmissionResIndComTrn.csv")